<link rel="stylesheet" type="text/css" href="../public/css/post.css">
<div class="container">
    <div class="jumbotron" id="jumbotron">
        {{#if post}}
            <h1>{{post.title}}</h1>
            <div class="post_prev">
                <h3 id="post_owner">{{user.username}}</h3>
                <p id="post_link"><a href="{{post.link}}" target="_blank">{{post.link}} </a></p>
                <p>{{post.description}} </p>
                <p><b> Language</b>: {{post.language}} </p>
                <p><b> Skill</b>: {{post.skill}} </p>
                <p><b> Created at</b>: {{post.createdAt}}</p>
                <p><b> Last updated at</b>: {{post.updatedAt}}</p>
            </div>
            <!--
            <form name="comment" action="/posts/{{post.title}}/comment" method="post" class="form-group">
                <label class="col-md-4 control-label">Comment</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="comment" placeholder="Say something!" name="comment"></textarea>
                </div>
                <div class="col-md-4">
                    <button type="submit" method="post" id="post_button" class="btn btn-default pull-right">Submit</button>
                </div>
            </form>
            <br>
            {{#if comment}}
                {{#each comment}}
                    <div class="post-prev">
                      <p>{{comment.text}}</p>
                    </div>
                {{/each}}
                {{else}}
                <p>No comments</p>
                {{/if}}
          -->
            <a href="/posts" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
          <hr>
        {{/if}}
    </div>
</div>
