<link rel="stylesheet" type="text/css" href="../public/css/post.css">
<div class="container">
    <div class="jumbotron" id="jumbotron">
        {{#if post}}
            <h1>{{post.title}}</h1>
            <div class="post_prev">
                <h3 id="post_owner">{{user.username}}</h3>
                <p id="post_link"><a href="{{post.link}}">{{post.link}} </a></p>
                <p>{{post.description}} </p>
                <p><b> Language</b>: {{post.language}} </p>
                <p><b> Created at</b>: {{post.createdAt}}</p>
                <p><b> Last updated at</b>: {{post.updatedAt}}</p>
            </div>
            <form name="comment" action="/posts/{{post.title}}/comment" method="post" class="form-group">
                <label class="col-md-4 control-label">Comment</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="comment" placeholder="Say something!" name="comment"></textarea>
                </div>
                <div class="col-md-4">
                    <button type="submit" method="post" id="post_button" class="btn btn-default pull-right">Submit</button>
                </div>
            </form>
        {{/if}}
    </div>
</div>
