<link rel="stylesheet" type="text/css" href="../public/css/posts.css">
<div class="container">
    <div class="jumbotron" id="jumbotron">
        <h1>Recent Projects</h1>
        <hr>
        <div class="container">
          <ul class="list-group">

            <a href="/posts/" class= "btn btn-default">All</a>
          <a href="/posts/lang/C++" class= "btn btn-default">C++</a>
          <a href="/posts/lang/HTML" class= "btn btn-default">HTML</a>
        <a href="/posts/lang/Javascript" class= "btn btn-default">Javascript</a>
        <a href="/posts/lang/Java" class= "btn btn-default">Java</a>
        <a href="/posts/lang/Objective C" class="btn btn-default">Objective  C</a>
        <a href="/posts/lang/Perl" class= "btn btn-default">Perl</a>
          <a href="/posts/lang/Python" class= "btn btn-default">Python</a>
          </ul>
          <ul class="list-group">
            <a href="/posts/level/Beginner" class= "btn btn-default">Beginner</a>
            <a href="/posts/level/Intermediate" class= "btn btn-default">Intermediate</a>
            <a href="/posts/level/Advanced" class= "btn btn-default">Advanced</a>
          </ul>
        </div>
        {{#if posts}}
            {{#each posts}}
                <div class="post-prev well well-sm">
                    <a href="/posts/{{this.title}}">
                        <h3> {{this.title}} </h3>
                    </a>
                    <p><b> Link</b>: <a href="{{this.link}}">{{this.link}}</a> </p>
                    <p><b> Language</b>: {{this.language}} </p>
                    <p><b> Skill</b>: {{this.skill}} </p>

                    <p><b> Description</b>: {{this.description}} </p>
                    <!--
                    <p><b> Created at</b>: {{this.createdAt}}</p>
                    <p><b> Last updated at</b>: {{this.updatedAt}}</p>
                  -->
                </div>
            {{/each}}
        {{else}}
            <p class="center">Looks like there's nothing here!</p>
        {{/if}}
    </div>
    <div class="space"></div>
</div>
