<link rel="stylesheet" type="text/css" href="../public/css/account.css">
<div class="container">
    <div class="jumbotron container" id="jumbotron" on>
        {{#if cur_user}}
            <div class="container">
                <center>
                    <div class="page-header">
                        <h2>Account <small>View your account information.</small></h2></div>
                </center>

                <hr>
                <center>
                    <div class="image-circular"> <img src="../../public/images/profile1.jpg" /></div>
                </center>
                <br>
                <br>
                <!-- Maybe add user ProfilePic ID to db - Use preset pictures? -->
                <form>
                    <!-- First and Last can't be edited upon account creation -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">First name</label>
                        <div class="col-sm-10">
                            <p class="form-control-static mb-0">{{user.first_name}}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Last name</label>
                        <div class="col-sm-10">
                            <p class="form-control-static mb-0">{{user.last_name}}</p>
                        </div>
                    </div>

                    <!--End of First + Last-->

                    <!-- UserName -->
                    <!-- TODO : Add Top / Bot textfield - receiving data from database -->
                    <div class="form-group row">
                        <label class='col-sm-2 col-form-label'>Username</label>
                        <div class="col-sm-10">
                            <p class="form-control-static mb-0">{{user.username}}</p>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <p class="form-control-static mb-0">{{user.email}}</p>
                        </div>
                    </div>
                </form>
            </div>
        {{else}}

            <h1><i class="fa fa-frown-o" aria-hidden="true"></i></h1>
            <br>
            <p style="text-align:center;">You must login first!</p>

    </div>
    <div class="space"></div>
    {{/if}}
  </div>
