<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
<div class="container">
    <div class="jumbotron" id="jumbotron">
        <h1>Recent Projects</h1>
        <div class="container">
          <ul class="list-group">
            <button><a href="/posts/">All</a></button>
            <button><a href="/posts/lang/V++">C++</button>
            <button><a href="/posts/lang/HTML">HTML</button>
            <button><a href="/posts/lang/Javascript">Javascript</button>
            <button><a href="/posts/lang/Java">Java</button>
            <button><a href="/posts/lang/Objective C">Objective C</button>
            <button><a href="/posts/lang/Perl">Perl</button>
            <button><a href="/posts/lang/Python">Python</button>
          </ul>
          <ul class="list-group">
            <button><a href="/posts/level/Beginner">Beginner</button>
            <button><a href="/posts/level/Intermediate">Intermediate</button>
              <button><a href="/posts/level/Advanced">Advanced</button>
          </ul>
        </div>
        {{#if posts}}
            {{#each posts}}
                <div class="post-prev well well-sm">
                    <a href="/posts/{{this.title}}">
                        <h3> {{this.title}} </h3>
                    </a>
                    <p><b> Link</b>: {{this.link}} </p>
                    <p><b> Language</b>: {{this.language}} </p>
                    <p><b> Skill</b>: {{this.skill}} </p>
                    <p><b> Description</b>: {{this.description}} </p>
                    <!--
                    <p><b> Created at</b>: {{this.createdAt}}</p>
                    <p><b> Last updated at</b>: {{this.updatedAt}}</p>
                  -->
                </div>
            {{/each}}
        {{else}}
            <p class="center">Looks like there's nothing here!</p>
        {{/if}}
    </div>
</div>
<div class="space"></div>
